*.log
*.raw
*.net
*.o
*.obj
/local
*.dat
build/
*.bin
*.elf
*.hex
*.map
*.cmake
# Entornos virtuales Python
venv/
env/
.venv/
ENV/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
EOF


